{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="m-4" style="font-family:'FV Almelo', Arial, sans-serif;">
  <h2 style="color: rgb(14, 39, 78);">RECENTLY Released Movies</h2>
  <hr style="background-color:rgb(14, 39, 78);">
  <div id="carouselControls" class="carousel slide bg-dark mb-5" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex justify-content-between">
          {% for movie1 in movies1 %}  
          <img src="https://image.tmdb.org/t/p/w780//{{movie1.poster_path}}"  width="25%" height="100%">
          {% endfor %}
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-between">
          {% for movie2 in movies2 %} 
          <img src="https://image.tmdb.org/t/p/w780//{{movie2.poster_path}}"  width="25%" height="100%">
          {% endfor %}
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
    <hr style="background-color:rgb(14, 39, 78);">
    <h2 style="color: rgb(14, 39, 78);">Recommendation for You</h2>
    <hr style="background-color:rgb(14, 39, 78);">
    {% if user.is_authenticated %}
    <div class="container">
        <div class="row mx-auto">
        {% for movie in recommend_movies %}
          <div class="col-12 col-sm-6 col-md-4 col-xl-3">
            <div class="card mx-auto">
              <a href="{% url 'movies:movie_detail' movie.pk %}"><img src="https://image.tmdb.org/t/p/w342//{{movie.poster_path}}" class="card-img-top" alt="movie image"></a>
              <a href="{% url 'movies:movie_detail' movie.pk %}" class="text-decoration-none text-reset">
                <div class="card-body">
                  <h5 class="card-title">{{movie.title}}</h5>
                  <p class="card-text text-warning">★   <span class="text-dark">{{movie.vote_average}}</span></p>
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
        </div>
    </div>
    {% else %}
    <h5>If you want to see Recommendation about Movies, Please Login!</h5>
    {% endif %}
</div>
{% endblock %}