{% extends 'base.html' %}
{% load bootstrap_pagination %}
{% block title %}Movie List{% endblock %}
{% block content %}
<div class="m-4">
{% if request.resolver_match.url_name == 'search' %}
  <h4>Search result for {{option}}s contains "{{keyword}}"</h4>
{% elif request.resolver_match.url_name == 'sort' %}
  <h4>{{option}} movies</h4>
  {% elif request.resolver_match.url_name == 'genre' %}
  <h3> {{option}} movies</h3>
{% else %}
<h2 style="color: rgb(14, 39, 78); font-family:'FV Almelo', Arial, sans-serif;">MOVIE LIST</h2>
{% endif %}
<hr style="background-color:rgb(14, 39, 78);">
{% include '_sidebar.html' %}
<div style="padding-left:100px">                                                                                                 
  <div class="container">
    <div class="row mx-auto">
    {% for movie in page_obj %}
      <div class="col-12 col-sm-6 col-md-4 col-xl-3">
        <div class="card mx-auto">
          <a href="{% url 'movies:movie_detail' movie.pk %}"><img src="https://image.tmdb.org/t/p/w342//{{movie.poster_path}}" class="card-img-top" alt="movie image"></a>
          <a href="{% url 'movies:movie_detail' movie.pk %}" class="text-decoration-none text-reset">
            <div class="card-body">
              <h5 class="card-title">{{movie.title}}</h5>
              <p class="card-text text-warning">★   <span class="text-dark">{{movie.vote_average}}</span></p>
            </div>
          </a>
        </div>
      </div>
    {% endfor %}
    </div>
<div style="height:50px;"></div>
{% bootstrap_paginate page_obj range=5 show_prev_next="false" show_first_last="true" extra_pagination_classes="justify-content-center"%}
</div>
</div>
<script>
  const ratingSort = document.querySelector('#ratingSort')
  ratingSort.addEventListener('click', event => {
    const option = event.target.dataset.id
    axios.get('/movies/sort/', {
      params: {
        option: option,
      }
    })
  })
  const dateSort = document.querySelector('#dateSort')
  dateSort.addEventListener('click', event => {
    const option = event.target.dataset.id
    axios.get('/movies/sort/', {
      params: {
        option: option,
      }
    })
  })
</script>
{% endblock %}