{% extends 'base.html' %}
{% load bootstrap4 %}
{% load socialaccount %}

{% block content %}
  <div class="mx-auto col-xl-6 col-lg-9 col-md-12">
    <h4>LOGIN</h4>
    <form action="" method="POST" class="mb-5">
      {% csrf_token %}
      {% bootstrap_form form %}
      <div style="height: 30px"></div>
      <button class="btn btn-warning d-block text-white w-25 text-center"><strong>Login</strong></button>
    </form>

    <p class="w-100 text-center pb-2">Don't have an account? </p>
    <p><a href="{% url 'accounts:signup' %}" class="btn btn-success w-100">Sign up free!</a></p>
    <p class="w-100 text-center">or</p>
    <p><a href="{% provider_login_url 'google' %}" class="btn btn-danger w-100"><i class="fab fa-google mr-2"></i>Login with Google</a></p>
    <p><a href="{% provider_login_url 'github' %}" class="btn btn-dark w-100"><i class="fab fa-github mr-2"></i> Login with Github</a></p>
  </div>
{% endblock %}