<nav class="navbar navbar-expand-sm navbar-dark sticky-top d-inline-flex justify-content-between w-100" style="background-color: rgb(14, 39, 78);">
  <div class="navbar py-0" style="position: absolute; left: 50%; top:0%; transform: translateX(-50%); ">
    <a class="mx-auto navbar-brand" href="{% url 'home' %}" style="color:rgb(229, 208, 116); font-family:'FV Almelo', Arial, sans-serif; font-size: xx-large;"><img src="/static/images/brand_picture.png" height='40'> MOVIE BOX</a>
  </div>
  <div>
    <div class="d-block d-sm-none" style="height:40px;" >
      <button style="position: absolute;left:10px; top: 10px;" class="navbar-toggler mr-auto border-0" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> 
        <span class="navbar-toggler-icon"></span>
      </button>  
    </div>
    <div class="collapse navbar-collapse py-0 w-50" id="navbarNav">
      <ul class="navbar-nav mr-auto w-50 pr-0">
          <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}" style="color:rgb(229, 208, 116); font-family:'FV Almelo', Arial, sans-serif; font-size: large;">home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'movies:movie_list' %}" style="color:rgb(229, 208, 116); font-family:'FV Almelo', Arial, sans-serif; font-size: large;">movies</a>
          </li>
      </ul>
  </div>  
  </div>
  <div>
    <div class="d-block d-sm-none" style="height:40px;">
      <button style="position: absolute; right:10px; top: 10px;" class="navbar-toggler ml-auto border-0" type="button" data-toggle="collapse" data-target="#navbarUser" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        {% if user.is_authenticated %}
        <span><img src="{{request.user.gravatar_url}}" class="rounded-circle" height="30" width="30"/></span>
        {% else %}
        <span><img src="https://s.gravatar.com/avatar/{hashlib.md5(self.email.encode('utf-8').strip().lower()).hexdigest()}?s=50&d=mp" class="rounded-circle" height="30" width="30"></span>
        {% endif %}
      </button>
    </div>
    <div class="navbar collapse navbar-collapse py-0 ml-auto" id="navbarUser">
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <div class="d-flex align-items-center">
        <li class="nav-item mx-2"><img src="{{request.user.gravatar_url}}" class="rounded-circle" height="30" width="30"/></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:rgb(229, 208, 116); font-family:'FV Almelo', Arial, sans-serif; font-size: large;">
            Hello, {{user.username}}!
          </a>
          <div class="dropdown-menu shadow-none" aria-labelledby="navbarDropdownMenuLink">
            <button class="dropdown-item"><a href="{% url 'profile' user.username %}" style="font-family:FV Almela, Verdana, Geneva, Tahoma, sans-serif">Profile</a></button>
            <button class="dropdown-item"><a href="{% url 'accounts:logout' %}" class="text-decoration-none text-danger" style="font-family:FV Almela, Verdana, Geneva, Tahoma, sans-serif">Log-out</a></button>
          </div>
        </li>
        </div>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:login' %}" style="color:rgb(229, 208, 116); font-family:'FV Almelo', Arial, sans-serif; font-size: large;">LOGIN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:signup' %}" style="color:rgb(229, 208, 116); font-family:'FV Almelo', Arial, sans-serif; font-size: large;">SIGN UP</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>