<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    <!-- fontawesome-->
    <script src="https://kit.fontawesome.com/f9f05d10ba.js" crossorigin="anonymous"></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="shortcut icon" href="../../static/favicon/favicon-96x96.png">
    <link rel="icon" type="image/x-icon" href="../../static/favicon/favicon-96x96.png" />
    <link href="//db.onlinewebfonts.com/c/d047865e0008f13cd1aa6146e29cb6bc?family=FV+Almelo" rel="stylesheet" type="text/css"/>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <style>
      @font-face {font-family: "FV Almelo"; src: url("//db.onlinewebfonts.com/t/d047865e0008f13cd1aa6146e29cb6bc.eot"); src: url("//db.onlinewebfonts.com/t/d047865e0008f13cd1aa6146e29cb6bc.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d047865e0008f13cd1aa6146e29cb6bc.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d047865e0008f13cd1aa6146e29cb6bc.woff") format("woff"), url("//db.onlinewebfonts.com/t/d047865e0008f13cd1aa6146e29cb6bc.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d047865e0008f13cd1aa6146e29cb6bc.svg#FV Almelo") format("svg"); }
    </style>
    <title>Movie Box {% block title %} {%endblock%}</title>
</head>
<body>
    {% include '_nav.html' %}
    {% if messages %}
    <ul class="messages p-0" style="font-family:'FV Almelo', Arial, sans-serif;">
        {% for message in messages %}
            {% if message.tags %}
              {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <div class="alert alert-info ">
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success ">
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.PRIMARY %}
                <div class="alert alert-primary ">
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div class="alert alert-warning ">
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger ">
              {% endif %}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>{{ message }}</strong>
            </div>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
    <div style="font-family:'FV Almelo', Arial, sans-serif;">
    {% block content %}
    {% endblock %}
    </div>
    <div style="height:100px;"></div>
    <!--footer-->
    <footer class="footer fixed-bottom p-0 border border-secondary border-left-0 border-right-0 border-bottom-0" style="background-color: rgb(14, 39, 78); font-family:'FV Almelo', Arial, sans-serif;">
      <div class="footer-copylight text-light align-middle text-center my-3 col-12">© 2020 Copyright:
        <a href="https://github.com/jisu5" class="text-decoration-none"> <i class="fab fa-github ml-1"></i> Jisu5</a> |
        <a href="https://github.com/chloe-codes1" class="text-decoration-none">chloe-codes1</a>
      </div>
    </footer>
    {% bootstrap_javascript jquery='full' %}
</body>
</html>